<header class="transition-all shadow-sm sticky top-0 z-50 bg-white">
  <div class="flex items-center justify-between container py-[1rem]">
    <a
      href="/"
      class="flex items-center gap-[1rem] md:text-[1.5rem] text-[1.3rem] font-semibold text-primary"
    >
      <span class="md:flex hidden">Asadulloh Pro</span>
      <img src="/logo_dark.png" alt="logo" width="40" height="40" class="grayscale flex md:hidden">
      </a
    >
    <div class="flex items-center justify-end gap-[1rem]">
      <a href="/blog" class="text-[#595959] hover:text-black" aria-label="link to blog">Blog</a>
      <a href="/aboutme" class="text-[#595959] hover:text-black" aria-label="link to about me">About Me</a>
    </div>
  </div>
</header>
<script>
  window.addEventListener('scroll', function () {
    const header = document.querySelector('header');
    if (header) {
      if (window.scrollY > 68) {
        header.classList.replace('shadow-sm', 'shadow-md');
      } else {
        header.classList.replace('shadow-md', 'shadow-sm');
      }
    }
  });
</script>
